.remittance {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg {
  position: absolute;
  left: 0;
  z-index: -10;
}

.imgBox {
  width: 500px;
}

.imgBox img {
  width: 100%;
}

.remittance h2 {
  font-size: 48px;
}

.remittance button {
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 5px;
}
